<!DOCTYPE html>
<html>
<head>
  <title>Visualization</title>
  <style type="text/css">
    #container {
      height: 400px;
      min-width: 310px;
      max-width: 100%;
      margin: 0 auto;
  }
  </style>

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-3d.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <div id="chart_container" style="height: 500px">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <h5>Magnitudes</h5>
        <table>
        <thead>
          <tr>
              <th data-field="mag">Magnitud</th>
              <th data-field="x">X</th>
              <th data-field="y">Y</th>
              <th data-field="z">Z</th>
          </tr>
        </thead>

        <tbody id="table_body">

        </tbody>
      </table>


      </div>
      <div class="col s6">
        <h5>Precisión</h5>
        <div>Total: <span id="total_punches"></span></div>
        <div>Golpes Buenos: <span id="good_punches"></span></div>
        <div>Golpes Malos: <span id="bad_punches"></span></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript">
    $(function () {
      drawChart();
      renderPunches();
      renderAcceleration();
    });
  </script>
</body>
</html>